.stone-invisible {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}

.stone-white {
    -fx-fill: #ffffff;
    -fx-stroke: #dddddd;
    -fx-stroke-width: 2px;
}

.stone-black {
    -fx-fill: #000000;
    -fx-stroke: #333333;
    -fx-stroke-width: 2px;
}

.stone-potentially-captured-white {
    -fx-fill: linear-gradient(from 0% 0% to 100% 100%, white 20%, red 100%);
    -fx-stroke: #dddddd;
    -fx-stroke-width: 2px;
}

.stone-potentially-captured-black {
    -fx-fill: linear-gradient(from 0% 0% to 100% 100%, black 20%, red 100%);
    -fx-stroke: #333333;
    -fx-stroke-width: 2px;
}
