.stone-invisible {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}

.stone-white {
    -fx-fill: #ffffff;
    -fx-stroke: #dddddd;
    -fx-stroke-width: 2px;
}

.stone-black {
    -fx-fill: #000000;
    -fx-stroke: #333333;
    -fx-stroke-width: 2px;
}

.stone-potentially-captured-white {
    -fx-fill: linear-gradient(from 0px 0px to 3px 3px, reflect, red 50%, white 51%);
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}

.stone-potentially-captured-black {
    -fx-fill: linear-gradient(from 0px 0px to 3px 3px, reflect, black 50%, red 51%);
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}

.white-territory {
    -fx-fill: radial-gradient(center 50% 50% , radius 35%, white 0%, white 24%, blue 25%, blue 39%, transparent 40%);
}

.black-territory {
    -fx-fill: radial-gradient(center 50% 50% , radius 35%, black 0%, black 24%, blue 25%, blue 39%, transparent 40%);
}

.title {
    -fx-font-size: 96px;
    -fx-font-weight: bold;
    -fx-font-smoothing-type: gray;
}

.subtitle {
    -fx-font-size: 12px;
}

.table-view:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, #ffffff;
    -fx-background-insets: 0, 1, 2;
}